<div class="category-container">
    <div class="myCalender">
      <div class="app">
        <app-calendar></app-calendar>
      </div>
    </div>
    <div class="myTasks">
      <div class="app">
        <app-my-tasks></app-my-tasks>
      </div>
    </div>
    <div class="myCategories">
      <div class="app">
        <app-my-categories></app-my-categories>
      </div>
    </div>
    <div class="myTracking">
      <div class="app">
        <app-my-tracking></app-my-tracking>
      </div>
    </div>
  </div>