<div class="myTasks">
<h3>My Tasks</h3>
      <ul>
        <li>
          <input type="checkbox" name="Task_1" id="Task_1" class="checkbox">
          <label for="Task_1" class="task-label truncate" data-full-text="Finish monthly reporting">Finish monthly reporting possible </label>
        </li>
        <li>
          <input type="checkbox" name="Task_2" id="Task_2" class="checkbox">
          <label for="Task_2" class="task-label truncate" data-full-text="task_2">Task 2</label>
        </li>
        <li>
          <input type="checkbox" name="Task_3" id="Task_3" class="checkbox">
          <label for="Task_3" class="task-label truncate" data-full-text="If you're visiting">If you're visiting this page, you're likely here because you're searching for a random sentence.</label>
        </li>
        <li>
          <input type="checkbox" name="Task_4" id="Task_4" class="checkbox">
          <label for="Task_4" class="task-label truncate" data-full-text="task_4">Task 4</label>
        </li>
        <li>
          <input type="checkbox" name="Task_5" id="Task_5" class="checkbox">
          <label for="Task_5" class="task-label truncate" data-full-text="task_5">Task 5</label>
        </li>
        <li>
          <input type="checkbox" name="Task_6" id="Task_6" class="checkbox">
          <label for="Task_6" class="task-label truncate" data-full-text="task_6">Task 6</label>
        </li>
      </ul>
    </div>